### Create table stud(id, name, dept, paidfee) with 8 records. Create stud.csv file of the stud data (Department will be BBA and BCA).
### Read csv file using reader object and write data with remaining fee. ( Total fee of bba is 13400 and bca is 15400 Rs)

In [1]:
from csv import reader

In [2]:
with open("D:\\23bca287\\sqlite-tools-win-x64-3460000\\csv\\stud.csv","r")as f:
    l=reader(f)
    for row in l:
        print(row)

['sid', 'sname', 'dept', 'paidfee']
['101', 'jay', 'bca', '13000']
['102', 'parth', 'bba', '9000']
['103', 'vikas', 'bca', '6000']
['104', 'sahil', 'bba', '12000']
['105', 'yash', 'bca', '12400']
['106', 'vishal', 'bba', '10400']
['107', 'darshit', 'bca', '8000']
['108', 'krunal', 'bba', '11400']